<div class="register-container">

  <p-card header="Register" class="register-card">

    <div class="field">
      <label>Name</label>
      <input pInputText
             [(ngModel)]="registerData.name"
             placeholder="Enter name" />
    </div>

    <div class="field">
      <label>Username</label>
      <input pInputText
             [(ngModel)]="registerData.username"
             placeholder="Enter username" />
    </div>

    <div class="field">
      <label>Email</label>
      <input pInputText
             [(ngModel)]="registerData.email"
             placeholder="Enter email" />
    </div>

    <div class="field">
      <label>Password</label>
      <input pInputText
             type="password"
             [(ngModel)]="registerData.password"
             placeholder="Enter password" />
    </div>

    <button pButton
            label="{{ loading ? 'Registering…' : 'Register' }}"
            class="p-button-success register-btn"
            (click)="register()"
            [disabled]="loading">
    </button>

    <p class="login-link">
      Already have an account?
      <a routerLink="/login">Login</a>
    </p>

    <p-message *ngIf="successMessage"
               severity="success"
               text="{{ successMessage }}">
    </p-message>

   
    <p-message *ngIf="errorMessage"
               severity="error"
               text="{{ errorMessage }}">
    </p-message>

  </p-card>

</div>