<div class="container">

  <!-- HEADER -->
  <div class="header">
    <h2>Dashboard</h2>

    <div class="right-section">
      <p-tag [value]="role"></p-tag>
      <button pButton label="Logout" icon="pi pi-sign-out"
        class="p-button-danger" (click)="logout()">
      </button>
    </div>
  </div>

  <!-- USER PROFILE -->
  <p-card *ngIf="role === 'USER' && user" header="Profile">

    
 <div style="text-align:center; margin-bottom:15px;">
   <img
 *ngIf="userImage" 
[src]="userImage"
  (error)="onImageError($event)"
  width="120"
  height="120"
    style="width:80px; height:80px;  margin-left:0px;"
/>
  </div>


    <p><strong>ID:</strong> {{ user?.id }}</p>
    <p><strong>Name:</strong> {{ user?.name }}</p>
    <p><strong>Username:</strong> {{ user?.username }}</p>

    <button pButton label="Edit Profile"
      icon="pi pi-user-edit"
      (click)="startEditUser()">
    </button>

  </p-card>

  <!-- EDIT DIALOG -->
  <p-dialog header="Edit Profile"
            [(visible)]="showEditForm"
            >

    <input pInputText [(ngModel)]="editingUser.name" placeholder="Name" />
    <br><br>

    <input pInputText [(ngModel)]="editingUser.username" placeholder="Username" />

    <br><br>
    <button pButton label="Save"
      (click)="updateUserDetails()">
    </button>

  </p-dialog>

  <!-- ORDERS -->
  <p-card *ngIf="role === 'USER'" header="My Orders">

    <button pButton label="Add Order"
      icon="pi pi-plus"
      [disabled]="isAddingOrder"
      (click)="startAddOrder()">
      
    </button>

    
<p-table 
    [value]="orders"
    [scrollable]="true"
    scrollHeight="250px"
    [paginator]="true"
    [rows]="5"
    [rowsPerPageOptions]="[5,10,20]">

      <ng-template pTemplate="header">
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-order>
        <tr>
          <td>{{ order.product }}</td>
          <td>₹{{ order.price }}</td>
          <td>
            <button pButton
              icon="pi pi-trash"
              class="p-button-danger"
              (click)="deleteOrder(order.id); $event.stopPropagation()">
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>

  </p-card>

  <!-- ADD ORDER -->
  
<p-dialog header="Add Order"
          [(visible)]="showAddOrderForm"
          [modal]="true"
          [dismissableMask]="true">

  <div>

    <input pInputText
           name="product"
           [(ngModel)]="newOrder.product"
           placeholder="Product" />

    <br><br>

    <input pInputText type="number"
           name="price"
           [(ngModel)]="newOrder.price"
           placeholder="Price" />

    <br><br>

  <button pButton
  type="button"
  label="Add"
  [disabled]="isAddingOrder"
  [loading]="isAddingOrder"
  (click)="addOrder()">
</button>

  </div>

</p-dialog>
  <!-- ADMIN USERS -->
  <p-card *ngIf="role.includes('ADMIN')" header="Users">

   
<p-table 
    [value]="users"
    [scrollable]="true"
    scrollHeight="450px"
    [paginator]="true"
    [rows]="5"
    [rowsPerPageOptions]="[5,10,20]">


      <ng-template pTemplate="header">
        <tr>
          <th>Image</th>
          <th>ID</th>
          <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
          <th>Username</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-u>
        <tr>
          
 
<td>
  <img
    [src]="u.imageUrl || 'https://cdn-icons-png.flaticon.com/512/149/149071.png'"
    width="40"
    height="40"
    style="border-radius:50%; object-fit:cover;"
    (error)="onImageError($event)">
</td>


          <td>{{ u.id }}</td>
          <td>{{ u.name }}</td>
          <td>{{ u.username }}</td>
          <td><p-tag [value]="u.role"></p-tag></td>
          <td>
            <button pButton label="Orders"
              (click)="viewOrders(u)">
            </button>

            <button pButton
              icon="pi pi-trash"
              class="p-button-danger"
              (click)="deleteUser(u.id)">
            </button>
          </td>
        </tr>
      </ng-template>

    </p-table>

  </p-card>

  <!-- ADMIN ORDERS -->
  <p-dialog header="User Orders"
            [(visible)]="showAdminOrders">

    <p-table [value]="selectedOrders">

      <ng-template pTemplate="body" let-order>
        <tr>
          <td>{{ order.product }}</td>
          <td>{{ order.price }}</td>
          <td>
            <button pButton
              icon="pi pi-trash"
             (click)="deleteOrderForAdmin(order.id); $event.stopPropagation()">
            </button>
          </td>
        </tr>
      </ng-template>

    </p-table>

  </p-dialog>

</div>