.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-section {
  display: flex;
  gap: 10px;
  align-items: center;
}

p-card {
  margin-top: 20px;
}

button {
  margin: 5px;
}